TZ=UTC
PORT=3333
HOST=localhost
LOG_LEVEL=info
APP_KEY=
NODE_ENV=development
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=root
DB_PASSWORD=root
DB_DATABASE=app
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
BREVO_API_KEY=
SMS_SOURCE_NUMBER=
SMS_API_URL=
SMS_API_KEY=
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
FIREBASE_TYPE=service_account
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
FIREBASE_CLIENT_ID=
FIREBASE_AUTH_URI=https://accounts.google.com/o/oauth2/auth
FIREBASE_TOKEN_URI=https://oauth2.googleapis.com/token
FIREBASE_AUTH_PROVIDER_X509_CERT_URL=https://www.googleapis.com/oauth2/v1/certs
FIREBASE_CLIENT_X509_CERT_URL=
FIREBASE_UNIVERSE_DOMAIN=googleapis.com
ANDROID_HIGH_PRIORITY_CHANNEL_ID=high_priority_channel
ANDROID_DEFAULT_CHANNEL_ID=default_channel
FCM_OFFER_SOUND_ANDROID=custom_offer_sound
FCM_DEFAULT_SOUND_ANDROID=default
FCM_OFFER_SOUND_IOS=custom_offer_sound.wav
FCM_DEFAULT_SOUND_IOS=default
ENABLE_SMS_FALLBACK=false
WAVE_API_URL=http://localhost:3335
WAVE_API_KEY=
WAVE_MANAGER_ID=
WAVE_TRANSMIT_ENABLED=false
WAVE_TRANSMIT_BASE_URL=http://localhost:3335
WAVE_TRANSMIT_CHANNELS=
